<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsService1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <applicationSettings>
    <WindowsService1.Properties.Settings>
      <!--<setting name="LogFilePath" serializeAs="String">
        <value>D:\\TestServiceLog.txt</value>
      </setting>-->
      <setting name="RunReprocess" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsService1.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="Environment" value="Default"/>
    <add key="LogFilePath" value="D:\Development-ServiceLog.txt"/>
    <add key="Interval" value="500"/>
  </appSettings>

</configuration>
