<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LogFilePath" xdt:Locator="Match(key)"  xdt:Transform="Replace"
         value="D:\\PreProdServiceLog.txt"/>
    <add key="Interval" xdt:Locator="Match(key)"  xdt:Transform="Replace"
         value="5000"/>
  </appSettings>
</configuration>